html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $body-background-color;
}

.main {
  flex: 1 0 auto;
  padding: 10px;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  width: 100%;
  max-width: 64rem;
  padding: 2rem;
  margin: 0 auto;
  background-color: $main-background-color;
}

.main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.wavy-line {
  --s: 44px; /* size of the wave */
  --b: 16px; /* thickness of the line */
  --m: 0.4; /* curvature of the wave [0 2] */
  
  background: #6ed8d9;
  --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
  height: calc(2*var(--R));
  width: 100%;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask:
    radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) 
     calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)),var(--_g)) 
     50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;
}

::selection {
  background: #6ed8d9; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #6ed8d9; /* Gecko Browsers */
}
