html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $body-background-color;
}

.main {
  flex: 1 0 auto;
  padding: 10px;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  width: 100%;
  max-width: 64rem;
  padding: 2rem;
  margin: 0 auto;
  background-color: $main-background-color;
}

.main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}


