.article img {
  max-width: 600px;
  margin: 1.5em auto;
  display: block;
}

.logo img {
  max-width: 150px;
  margin: 1.5em;
}

.me-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.me-image img {
  border-radius: 50%;
  width: 250px;
}
