// Background colors
$main-background-color: #393e46;
$body-background-color: #222831;
$nav-background-color: #393e46;
$footer-background-color: #222831;
$code-background-color: #393e46;

// Font colors
$font-color: #fff;
$footer-color: #fff;

// Link colors
$link-font-color: #292929;
$link-hover: #6ed8d9;

// Box colors
$box-shadow: rgba(0, 0, 0, 0.575);
