* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

a:hover {
    color: #6ed8d9;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.main {
    flex: 1 0 auto;
    max-width: 60%;
    padding: 2em;
    background-color: #ffff;
}

.header, .footer {
    flex: 0 0 auto;
    padding: 1em;
    width: 100%;
    background-color: #ffff;
    border-bottom: 1px solid #202020;
    box-shadow: 0 4px 10px #4c637942;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #202020;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #202020;
    background-color: #232323;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
}

.footer .social {
    font-size: 2rem;
    color: #ffffff;
}

/* Typografy */

body {
    line-height: 1.5rem;
    color: #202020;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, td, th, li, dd {
    font-weight: 300;
    font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    color: #202020;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    max-width: 100%;
    border-radius: 50%;
    max-width: 300px;
    margin: 1.5em;
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}
